<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>À propos de nous</h4>
                    <p>Laverie au coeur du quartier des Capucins. Nous mettons tout en oeuvre pour vos proposer le meilleur des services</p>
                </div>

                <div class="col-md-4">
                    <h4>Vous aimez notre laverie? Publiez <!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <meta http-equiv="X-UA-Compatible" content="ie=edge">
                        <title>Document</title>
                    </head>
                    <body>
                        
                    </body>
                    </html></h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© Laverie Rodrigo et Gabrielle | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Orhan Sen</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <h4>Subscribe to newsletter</h4>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control footer-input-text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-newsletter ">OK</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>
