<!-- Add your content of head and header -->
{{> metaHeader title='Title page' description="description"}} {{> header }}

<!-- Add your site or app content here -->
<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./assets/images/laundry-saloon-567951_1920.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title-color">Laverie automatique Bordeaux</h1>
                <p class="">THE BEST PLACE FOR WASH CLOTHES</p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Nous
                    contacter</a>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Notre philosophie</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Économique</h3>
                <p class="text-center">Bénéficiez des meilleurs tarifs.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Eco-Responsable</h3>
                <p class="text-center">Nos machines respectent l'environnement. Nos produits lessiviels sont bio.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Innovant</h3>
                <p class="text-center"> Nous mettons à disposition du matériel dernière génération.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./assets/images/narain-jashanmal-1260038-unsplash.jpg')"></div>
    <div class="container">
        <div class="row">
            <!-- <div class="section-label reveal">
                <p>Coworking</p>
            </div> -->
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Laverie au centre de Bordeaux</h2>
                <h3>Quartier des Capucins</h3>
                <p>Cet établissement est entièrement équipé de machines à laver et de séchoirs de marque SPEED
                    QUEEN.

                    Vous trouverez dans cette agréable laverie automatique 3 machines à laver de 8 kg, une machine
                    de 12 kg et une machine de 18 kg. Ces machines de grosse capacité vous permettront de nettoyer
                    vos couettes et vos couvertures. Deux gros séchoirs permettent le séchage de vos textiles. Un
                    oubli de lessive ? pas d’inquiétude, un distributeur est à votre disposition.</p>
                <p>WASH’N DRY est le premier réseau français dans le domaine de la laverie en libre-service avec
                    plus de 800 créations depuis 1992. WASH’N DRY est une enseigne du groupe ARMSTRONG FRANCE,
                    expert en solution de blanchisserie. WASH’N DRY s’appuie sur des marques de matériel réputées
                    et met à votre disposition des équipements fiables, robustes, performants, rentables et en
                    parfaite conformité avec les normes en vigueur.</p>

            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Nos engagements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/earth-in-hands_925x.jpg" alt="Image Qualité" class="img-responsive">
                <h3 class="text-center">Qualité</h3>
                <p>Retrouvez sur Bordeaux le meilleur des laveries automatiques à Bordeaux. Quartier des Capucins. Nous
                    utilisons le meilleur matériel pour vous garantir un service de qualité et protéger l'environnement</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/hand-shake-meeting_4460x4460.jpg" alt="Contrat de confiance vis à vis de nos clients" class="img-responsive">
                <h3 class="text-center">Garantie</h3>
                <p>Maintenance garantie en cas de problèmes avec l'utilisation des machines. Des numéros de téléphone
                    sont disponibles sur le site ou en laverie.

                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/laundry-saloon-567951_1920.jpg" alt="Matériel laverie automatique Bordeaux" class="img-responsive">
                <h3 class="text-center">Notre matériel</h3>
                <p>Notre laverie automatique situé à Bordeaux est équipée du meilleur matériel blanchisserie. Nos lessives et
                    produits nettoyants garantiront le meilleur lavage des vos tissus.</p>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class='container-fluid' id="contact-section-container-map">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">L'emplacement</h2>
            </div>
        </div>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Télephone</h3>
                        <p>+337 81 86 06 24</p>

                        <h3>E-mail</h3>
                        <p>sen.orhan@ymail.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Adresse</h3>
                        <p>6 Cours de l'Yser, Bordeaux</p>

                        <h3>Horaires d'ouverture</h3>
                        <p>Lundi - Dimanche : 7h - 23h</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Nous contacter</h2>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Nom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="firstname" class="form-control" placeholder="Prénom">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" name="phone" class="form-control" placeholder="Télephone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Entrer votre message"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">M'envoyer une copie
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Envoyer le message</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {

        googleMapInit();
        scrollToAnchor();
        scrollRevelation('reveal');
    });
</script>

{{> footer }}